body
{
    margin: 0;
    padding: 0;
     overflow-x: hidden;
     font-family: Comic Sans MS, Comic Sans, cursive;
     background-color:  #111827;

}

h2{
    margin: 0;
}


@media (max-width: 499px) {
    body {
         font-family: sans-serif;
         
  }
}
  